instructions-component {
  .instructions {
    height: 100vh;
    width: 100vw;
    position: absolute;
    padding: 15px;
    top: 0px;
    z-index: 100;
    background-color: $color-black-shadow;
    @extend .center;
    flex-direction: column;
    .instructions-text {
      font-size: 40px;
      color: $color-text-white;
      text-align: center;
      margin-bottom: 20px;
      &.welcome-text {
        margin-bottom: 70px;
      }
    }
    button {
      background: $button-action-background-color;
      font-weight: 700;
    }
  }
}
