@font-face {
  font-family: 'Cabin';
  src: url('../assets/fonts/Cabin/Cabin-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Cabin';
  src: url('../assets/fonts/Cabin/Cabin-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Cabin';
  src: url('../assets/fonts/Cabin/Cabin-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Cabin';
  src: url('../assets/fonts/Cabin/Cabin-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}
