recipe-step-component {
  .recipe-step {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .step-number {
      @extend .center;
      width: 40px;
      min-width: 40px;
      height: 40px;
      text-align: right;
      margin: 13px 10px;
      border: 1px solid $color-text-primary;
      border-radius: 50%;
    }
  }
}
