recipe-ingredient-component {
  .ingredient {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 7px;
    .quantity {
      width: 60px;
      min-width: 60px;
      text-align: right;
      margin-right: 20px;
      font-weight: 700;
      line-height: $recipe-line-height;
      color: $color-text-primary;
    }
    .ingredient-name {
      font-weight: 400;
      line-height: $recipe-line-height;
    }
  }
}
